.body-register-container {
    background: linear-gradient(#083343, #214757);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    --form-background-color: #214757;
    background-color: var(--form-background-color);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    border-radius: 5px;
    border: 2px solid #455C68;
}

.form-container span {
    align-self: center;
}

.form-container a {
    cursor: pointer;
    color: #29B4D1;
    text-decoration: underline;
}

.form-container h3 {
    margin: 0;
    padding-bottom: 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container form label {
    font-size: 15px;
}

.form-container form input {
    padding: 3px 1px;
    border-radius: 4px;
}

.sign-in-form-button {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #063242;
}


.sign-in-form-button:hover {
    cursor: pointer;
    background-color: #032939;
}